.wrapper {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  /* justify-content: space-between; */
  /* align-items: flex-end; */
  /* flex-direction: column; */
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  margin-bottom: 5px;
}
.logo_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* flex-direction: column; */
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  margin-bottom: 5px;
}
.action_area {
  display: flex;
  justify-content: center;
  padding: 5px;
}
@media screen and (min-width: 769px) {
  /* .logo_image {
    height: 25vh;
    width: 30vw;
  } */
}
