.wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 20px;
}
.whastapp_Button {
  display: inline-flex;
  gap: 4px;
  width: fit-content;
  height: 25px;
  font-size: medium;
  text-decoration: none;
  box-sizing: border-box;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  /* transition: 0.4s; */
}
