.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  /* border: 2px solid; */
}
.logo_image {
  height: 20vh;
  width: 40vw;
}

@media screen and (min-width: 769px) {
  .logo_image {
    height: 25vh;
    width: 30vw;
  }
}
